@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p>Create Test transaction <a href="/transaction/createtransaction">here</a>.</p>
    <p>Create Test transaction and update status <a href="/transaction/UpdateTransactionStatus">here</a>.</p>
    <p>Create Test transactions and get their invoices <a href="/transaction/GenerateInvoicesByDateRange">here</a>.</p>
</div>
